%h2 The Movie Database results

%table#movies
  %thead
    %tr
      %th Poster
      %th Movie Title
      %th Release Date
      %th Rating
  %tbody
    - @movies.each do |movie|
      %tr
        %td= image_tag("#{@configuration.base_url}w92#{movie.poster_path}") if movie.poster_path
        %td= link_to movie.title,movie_path(movie.title, from: 'tmdb', tmdb_id: movie.id)
        %td= movie.release_date
        %td= movie.vote_average

= link_to 'Back to movie list', movies_path
